{% block paginator %}
{% import 'GpupoGlessBundle::macros.html.twig' as Gless %}
{% if pager.haveToPaginate %}
    {% if (folderType is defined and folderType == 'search') %}
        {% set query = '?keyword=' ~ keyword ~ '&page=' %}
    {% else %}
        {% set query = '?page=' %}
    {% endif %}
                <div class="pagination">
    {% if not pager.isFirstPage|default(null) %}
                        {{ Gless.ButtonA('First', query ~ '1' ,
                            {'icon':'seek-first', 'with_text': 'yes'}) }}
                        {{ Gless.ButtonA('Previous', query ~
                        pager.previousPage, {'icon':'seek-prev',
                        'with_text': 'yes'}) }}
    {% endif %}
                        {% for page in pager.rangeToPaginate %}
                            {% if pager.currentPage == page %}
                                {% set class = 'active selected' %}
                            {% else %}
                                {% set class = '' %}    
                            {% endif %}    

                            {{ Gless.ButtonA( page, query ~ page,
                                {'class': 'page ' ~ class, 'with_icon': 'no'}) 
                            }}

                        {% endfor %}
    {% if not pager.isLastPage|default(null) %}
                        {{ Gless.ButtonA('Next', query ~
                            pager.nextPage , {'icon':'seek-next',
                            'position': 'secondary'}) }}
                        {{ Gless.ButtonA('Last', query ~
                            pager.lastPage, {'icon':'seek-end',
                            'position': 'secondary'}) }}
    {% endif %}
                </div>
{% endif %}

{% endblock %}
